
body {
    background-color: cadetblue;
    margin: 0;
}

section.main {
    background-color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav.title li {
    color:aliceblue;
    display: flex;
    font-size: 300%;
    font-style: oblique;
}
section.game {
    background-color: green;
    display: flex;
    align-items: center;
    flex-direction: column;

}

